div {
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
}

/* Posicionamiento relativo: se posiciona en relacion al posicionamiento original*/
.relative {
    position: relative;
    left: 80px;
    margin-left: 10px;
}

/* Posicionamiento fijo: se posiciona en relacion a la pantalla */
.fixed {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: greenyellow;
    z-index: 10;
}

/* Posicionamiento absoluto:*/
.absolute {
    position: absolute;
    bottom: 30px;
    top: 0px;
}

.relative.contenedor {
    width: 800px;
    height: 800px;
    background-color: blue;
}

/*Posicionamiento "pegajoso": Al hacer scroll modifica su posicionamiento relative->fixed*/
.sticky {
    position: sticky;
    background-color: darksalmon;
    color: white;
    top: 0px;
    z-index: 2;
}
